*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */
body{
    font-family:  sans-serif ;
    background-color: white;
}
.border{
    border: black 2px dashed;
}
img {
    max-width: 100%;
}
/* UTILS */
.container{
    max-width: 1200px;
    min-height: 700px;
    border: 1px black dashed;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: center;
}
.col, .col-large, .col-small{
    margin: 1rem;
    padding: 1rem;
    border: black 2px dashed;
    height: 300px;
}
.flex{
    display: flex;
}
.text-center {
    text-align: center;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.bg-white{
    background-color: white;
}
.bg-purple{
    background-color: rgb(159, 130, 238);
}
.col-40{
    flex-basis: 40%;
}
.col-60{
    flex-basis: 60%;
}
.col-20{
    flex-basis: 20%;
}
.col-80{
    flex-basis: 80%;
}



/* HEADER */
header{
    background-color: rgb(51, 85, 255);
    margin-bottom: 3rem;
}
.site-header{
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;

    
    align-items: center;
    justify-content: space-between;
}
.nav-actions{
    gap: 30px;
}

/* MAIN */
section{
    margin-bottom: 5rem;
    border: 1px black dashed;
}
/* JUMBOTRON */
.jumbotron .col{
    width: 30%;
    background-color: orange;
}
.jumbotron .col-large{
    width: calc(200%/ 3);
}
.jumbotron .col-small{
    width: calc(100%/ 3);
}
/* PLANNING */
.planning .row{
    margin: 3rem 10rem;
    height: 700px;
    align-items: flex-end;
}
.planning .col{
    height: 650px;
}
.planning .col-right{
    height: 500px;
}
/* PARTNERS*/
.partners .row{
    flex-direction: column;
}
.partners .col{
    background-color:  rgb(159, 130, 238);
    border-radius: 50px;
}
.partners .row-in{
    min-height: 250px;

    flex-direction: row;
    align-items: center;
}
.partners .col-in{
    min-height: 200px;
    margin: 2rem;
}
.col-in-left{
    border-radius: 100px;
}
/* BENEFITS */
.benefits .row{
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.benefits .col{
    width: 30%;
    min-height: 400px;
    border-radius: 30px;

    background-color: white;
}