*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    font-family:  sans-serif ;
    background-color: white;
}
.border{
    border: black 2px dashed;
}
img {
    max-width: 100%;
    margin-bottom: 1rem;
}

/* UTILS */
.container{
    max-width: 1200px;
    border: 1px black dashed;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: center;
}
.col, .col-large, .col-small{
    margin: 1rem;
    padding: 1rem;
    border: black 2px dashed;
    min-height: 100px;
    border-radius: 30px;
}
.flex{
    display: flex;
}
.text-center {
    text-align: center;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
h1, h2, p, span{
    margin-bottom: 2rem;
}
h3{
    margin-bottom: 1rem;
}
p{
    line-height: 2rem;
}
span{
    line-height: 2rem;
}
.light-black{
    color: rgb(84, 84, 84);
}
.purple{
    color: #9593e6;
}
.bg-white{
    background-color: white;
}
.bg-purple{
    background-color: #9593e6;
}
.bg-black{
    background-color: black;
}
.col-20{
    flex-basis: 20%;
}
.col-30{
    flex-basis: 30%;
}
.col-70{
    flex-basis: 70%;
}
.col-80{
    flex-basis: 80%;
}
/* SIZES */

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.2rem;
}

/* BUTTONI */
.btn{
    border-radius: 50px;
}
#btn-get-started{
    color: rgb(110, 110, 110);
    padding: 10px 15px;
}

/* HEADER */
header{
    width: 100% ;
    background-color: rgb(51, 85, 255);

    position: fixed;
    z-index: 1;
}
.site-header{
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;

    align-items: center;
    justify-content: space-between;
}
.logo{
    padding: 30px;
}
.nav-actions{
    gap: 30px;
}
.nav-actions li  > * {
    color: white;
}
.menù{
    display: none;
    padding: 30px;
    color: white;
    font-size: 1.5rem;
}
/* MAIN */
section{
    margin-bottom: 5rem;
    border: 1px black dashed;
}

/* JUMBOTRON */
.jumbotron .container{
    position: relative;
    margin-top: 6rem;
}
.jumbotron .col{
    width: 30%;
    background-color: orange;
}
.jumbotron .col-large{
    width: calc(200%/ 3);
}
.jumbotron .col-small{
    width: calc(100%/ 3);
}


/* PLANNING */
.planning .row{
    margin: 3rem 7rem;
    align-items: flex-end;
}

.planning .col-left{
    flex-basis: 55%;
}
.planning .col-right{
    padding:  40px;
    flex-basis: 45%;
}
.strategic-card{
    color: white;
}
.app-card{
    color: black;
    line-height: 2rem;
}
.fa-arrow-down{
    color: black;
    border-radius: 50%;
    padding: 15px 17px;
}
.strategic-card img{
    width: 800px;
    margin-bottom: 5rem;
}
.app-card img{
    width: 200px;
}

/* TESTIMONIALS */
.testimonials .row{
    flex-direction: column;
}
.testimonials .col{
    background-color:  #9593e6;
}
.testimonials .row-in{
    min-height: 250px;

    flex-direction: row;
    align-items: center;
}
.testimonials .col-in{
    min-height: 200px;
    margin: 2rem;
}
.col-in-left{
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.text{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.text>*{
    color: white;
}
.fa-quote-left, .fa-quote-right{
    color: white;
    font-size: 2rem; 
}
.testimonials img{
    border-radius: 100%;
    width: 300px;
}


/* BENEFITS */
.benefits .row{
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.benefits .col{
    width: 30%;
    min-height: 400px;

    background-color: white;
}


/* ABOUT-US */
.about-us .row{
    margin: 2rem;
}
.about-us .col-left{
    height: 700px;
    margin-right: 3rem ;
}
.about-us .col-right{
    height: 600px;
}
.about-us img{
    border-radius: 50%;
    width: 250px; 
}


/* FOOTER */
.footer-container{
    max-width: 600px;
    margin: 0 auto;
}



@media screen and (max-width:768px) {

    .planning .row{
        flex-wrap: wrap;
        margin: 0;
    }
    .planning .col-left, .planning .col-right{
        flex-basis: 80%;
    }
    .benefits .col{
        width: 40%;
    }
    .nav-actions{
        display: none;
    }
    .menù{
        display: block;
    }
}

@media screen and (max-width:576px) {
    .jumbotron .row{
        flex-wrap: wrap;
        margin: 0;
    }
    .testimonials .row, .about-us .row{
        flex-direction: column;
    }
    .benefits .col{
        width: 90%;
    }
    h2, h3{
        font-size: 2rem;
    }
    .app-card img{
        width: 300px
    }
}

